<tr>
  <td><%= f.label :experience_id %></td>
  <td>
    <div class="field ruby_level"><%= f.collection_select(:experience_id, Experience.all, :id, :level, :prompt => t('activerecord.attributes.experience.prompt')) %></div>
  </td>
</tr>

<tr>
  <td></td>
  <td>
    <div class="check"><%= f.check_box :subscribed %><%= f.label :subscribed %></div>
  </td>
</tr>
