<tr>
    <td></td>
    <td>
      <div class="check"><%= f.check_box :subscribed, {checked: true} %><%= f.label :subscribed %></div>
      <div class="check"><%= f.check_box :subscribed_for_comments, {checked: true} %><%= f.label :subscribed_for_comments, t('profile.subscribed_for_comments') %></div>
    </td>
</tr>

