        <tr>
            <th colspan="2" class="title"><%= t('profile.subscriptions') %></th>
        </tr>
        <tr>
            <td><%= t 'activerecord.attributes.user.email' %></td>
            <td>
                <div class="field"><%= user.email %></div>
            </td>
        </tr>
        <%= render 'profiles/news_comments_subscription', :f => f %>

