tmtags
.bundle
db/*.sqlite3
log/*
tmp/
.sass-cache/
.*~
app/assets/images
app/assets/images/
app/assets/stylesheets/style.sass
config/database.yml
config/database.yml.*
config/social_config.yml
config/locales/site_specific.*
config/locales/site_specific
config/site_specific.yml
public/system/*
public/files/
public/images/
public/pub/
public/assets
public/*.tar.gz
public/ckeditor_assets/attachments
public/ckeditor_assets/pictures
solr/data/**/*
solr/pids/**/*
solr/*
db/*.sql
.idea/
