<hr/>
<%= form_for [comment.article, comment], :remote => true do |f| %>
  <div><%= errors_for comment %></div>
  <div><%= f.text_area :body %></div>
  <div><%= f.submit "Leave a comment" %></div>
<% end %>
