<div id="commentsblock">
  <div>
      <%= render :partial => "comments/form" %>
  </div>
  <div id="commentnotice" style="text-align: center; color: #006400;">
    <%= params[:notice] %>
  </div>
  <div id="comments" style="text-align: center;">
      <%= render :partial => "comments/show", :collection => @custom_news.comments %>
  </div>
  <hr/>
</div>