# {{ ansible_managed }}

description "{{ app_name }} sunspot_solr"

start on runlevel [2]
stop on runlevel [016]

env PATH=$PATH:/usr/local/bin:/usr/bin:/bin
env HOME={{ user_home_path }}

expect daemon
respawn

setuid {{ user_name }}
setgid {{ group_name }}

chdir {{ app_path }}

exec /bin/bash -l -c 'bundle exec {{ sunspot_solr_command }} 2>&1'
