<p>Добрый день.</p>

<p>Спасибо, что зарегистрировались на Big Data Dive. Модератор подтвердил Ваше участие. Ждем Вас на мероприятии!</p>

<p>
  <strong>Время проведения:</strong> 19.09.12, 20.09.12, 21.09.12 с 18.00 до 21.00<br />
  <strong>Место проведения:</strong> офис компании Altoros, ул.Домбровская, 9,  SkyTowers, 5 этаж.
</p>

<p><i>
  С наилучшими пожеланиями,<br /><br />

  Belarus Java User Group<br /><br />

  info@belarusjug.org
</i></p>
