<p>Добрый день.</p>

<p>К сожалению, мы не можем пригласить Вас на Big Data Dive в связи с отсутствием свободных мест для записи. Ваша заявка включена в список ожидания. Мы обязательно сообщим Вам, если у нас  появится возможность пригласить Вас на встречу.</p>

<p><i>
  С наилучшими пожеланиями,<br /><br />

  Belarus Java User Group<br /><br />

  info@belarusjug.org
</i></p>
