<h4><%= t('general.partners') %></h4>
<div class="links">
  <%= link_to image_tag("logo_altoros.png", {:height => 38, :width => 213, :alt => t('general.altoros')}), "http://altoros.com/" %>
  <%= link_to image_tag("apatar.jpg", {:height => 33, :width => 115, :alt => t('general.apatar')}), "http://apatar.com/" %>
  <%= link_to image_tag("jet_brains.jpg", {:height => 43, :width => 140, :alt => t('general.jetbrains')}), "http://www.jetbrains.com/" %>
</div>
