<ul>
  <li><%= link_to_unless_current t('menu.main'), root_path %></li>
  <li><%= link_to_unless_current t('menu.events'), meetuped_articles_path %></li>
  <li><%= link_to_unless_current t('menu.videos'), videos_path %></li>
  <%= static_page_links %>
</ul>