---
- hosts: vm
  roles:
    - swap

- hosts: all
  gather_facts: no
  roles:
    - { role: apt_proxy, when: use_apt_proxy }
    - ubuntu_fix_locale
  tasks:
    - apt: update_cache=yes

- hosts: mysql
  roles:
    - mysql


- hosts: application
  handlers:
    - include: roles/delayed_job/handlers/main.yml
  roles:
    - base
    - { role: ruby, tags: ruby }
    # - vim
    - webserver
    - unicorn
    - java

- hosts: delayed_job
  handlers:
  roles:
    - base
    - ruby
    - { role: delayed_job, tags: delayed_job }

