{{ user_name }} ALL=NOPASSWD: /sbin/start {{ app_name }}, /sbin/stop {{ app_name }}, /sbin/restart {{ app_name }}
{{ user_name }} ALL=NOPASSWD: /sbin/start {{ delayed_job_app_name }}, /sbin/stop {{ delayed_job_app_name }}, /sbin/restart {{ delayed_job_app_name }}
{{ user_name }} ALL=NOPASSWD: /sbin/start {{ sunspot_solr_app_name }}, /sbin/stop {{ sunspot_solr_app_name }}, /sbin/restart {{ sunspot_solr_app_name }}
