* { margin:0; padding:0; border:none; background:none;}
ul { list-style:none;}
a { text-decoration:underline; color:#850008;}
a:hover { text-decoration:none;}
body {position:relative;color:#31322c;font:15px/20px Arial, Helvetica, sans-serif;background:#fff;}
h2 {color:#000;font:normal 22px Arial, Helvetica, sans-serif;}
h3 {color:#850008;font:bold 16px/20px Arial, Helvetica, sans-serif;}
h4 {margin-bottom:10px; color:#31322c;font:bold 14px/16px Arial, Helvetica, sans-serif;}
h5 {margin-bottom:5px; color:#850008;font:bold 14px/16px Arial, Helvetica, sans-serif;}
p {margin:10px 0;}
:focus {outline:none;}
input::-moz-focus-inner, button::-moz-focus-inner {border:0;padding:0;}

body, html {min-height:100%; height:auto !important;}

.cl_left {clear:left;height:0;font-size:0;line-height:0;}
.cl_right {clear:right;height:0;font-size:0;line-height:0;}
.cl_all {clear:both;height:0;font-size:0;line-height:0;}
.fll {float:left;}
ol li {list-style-type:decimal; list-style-position:inside;  font-weight:bold; margin-bottom:10px;}
ol li span {font-weight:normal;}


.wrapper {position:relative;min-width:950px;}

.header {min-width:950px;height:163px; margin-bottom:25px;background:url(bg_header.gif) 0 0 repeat-x; border-bottom:1px solid #c1c1c1;}
.block {position:relative; overflow:hidden; width:950px; margin:0 auto;}
.logo_row {height:105px; border-bottom:1px solid #d3d3d3;}
a.logo { float:left; margin-top:24px;}
.sublinks { float:right; margin-top:34px; font-size:12px; line-height:22px; color:#737373;}
.sublinks a {display:inline-block; *display:inline; padding-left:13px; margin-left:10px; color:#737373; zoom:1;}
.sublinks a.login { background:url(ico_login.png) 0 4px no-repeat;}
.sublinks .user {display:inline-block; *display:inline; padding-left:18px;background: url(ico_user.png) 0 4px no-repeat; zoom:1;}
.menu_row {height:56px; border-top:1px solid #fff;}
.menu_row ul { float:left; margin-top:20px;}
.menu_row ul li {display:inline-block; *display:inline; margin-right:30px; font-size:15px; color:#000; zoom:1;}
.menu_row ul li a {color:#850008;}
.menu_row .search {float:right; overflow:hidden; width:251px; height:19px; margin-top:19px; background:url(bg_search.png) 0 0 no-repeat;}
.menu_row .search input[type="text"] { float:left;width:210px; height:17px; margin:1px 0 0 11px; background:none; border:none; color:#959595; outline:none;}
.menu_row .search input[type="submit"] {float:left;width:12px; height:15px; margin:3px 0 0 11px; background: url(btn_search.gif); border:none; text-indent:10000px; outline:none; cursor:pointer; color:#000; font-size:10px; line-height:10px;}

.left { float:left;width:650px; padding-bottom:10px;}
.left a { color:#000;}
.left .item {padding:20px 0 30px; border-top:1px solid #e0e0e0;}
.left .item:first-child {padding:10px 0 30px; border-top:none;}
.iteminfo { margin:8px 0; font-size:12px;line-height:20px; color:#737373;}
.iteminfo * {display:inline-block; *display:ilnine; padding-left:20px; margin-right:20px; background-position:0 4px; background-repeat:no-repeat; zoom:1;}
.iteminfo .date {background-image:url(ico_calendar.png);}
.iteminfo .author {background-image:url(ico_user.png);}
.iteminfo span.comments {background-image:url(ico_message.png);}

.pages {padding:0 0 40px 0; font-weight:bold; font-size:1px;}
.pages a {display:inline-block; *display:ilnine; height:21px; padding-right:3px; margin-right:3px; vertical-align:top; font-size:14px; line-height:21px; color:#850008; zoom:1;}
.pages a span {display:block;height:21px; padding:0 4px 0 7px; cursor:pointer;}
.pages a:hover, .pages a.act { background:url(bg_page.png) 100% -21px no-repeat; text-decoration:none;}
.pages a:hover span, .pages a.act span { background:url(bg_page.png) 0 0 no-repeat; color:#000;}
.pages .prev { width:13px;height:21px; background:url(arrow_prev.gif) 0 4px no-repeat !important;}
.pages .next { width:13px;height:21px; background:url(arrow_next.gif) 0 4px no-repeat !important;}

.partners { padding:15px 0 45px; border:1px solid #d3d3d3; border-width:1px 0;}
.partners .links {overflow:hidden; text-align:center;}
.partners .links a { float:left; height:49px; margin-right:48px;}
.partners .links a + a + a { float:right; height:30px; margin:8px 0 0;}

.left .social {padding:20px 0; text-align:center;}
 
.right { float:right;width:250px;}
.participate { position:relative; padding:20px 22px 22px; margin-bottom:20px; border:2px solid #850008; font-size:12px; line-height:16px;}
.participate ins {background: url(crn.png) 0 0 no-repeat; position:absolute; top:-2px; bottom:auto; left:-2px; width:5px; height:5px;}
.participate ins + ins {top:-2px; bottom:auto; left:auto; right:-2px; background-position:-5px 0;}
.participate ins + ins + ins {bottom:-2px; top:auto; left:auto; right:-2px; background-position:-5px -5px;}
.participate ins + ins + ins + ins {bottom:-2px; top:auto; right:auto; left:-2px; background-position:0 -5px;}

.right .social {margin-bottom:20px;}

.modal {position:absolute; top:0; left:0; width:100%; height:100%; z-index:3;}
.modal .overlay {position:absolute; top:0; left:0; width:100%; height:100%; background:url(overlay.png); z-index:4;}
.modal .popup {position:absolute; top:215px; left:50%; width:350px; margin-left:-185px; background:#fff; z-index:5;}
.modal .popup ins {background: url(crn_popup.png) 0 0 no-repeat; position:absolute; top:-10px; bottom:auto; left:-10px; width:10px; height:10px;}
.modal .popup ins + ins {top:-10px; bottom:auto; left:auto; right:-10px; background-position:-10px 0;}
.modal .popup ins + ins + ins {bottom:-10px; top:auto; left:auto; right:-10px; background-position:-10px -10px;}
.modal .popup ins + ins + ins + ins {bottom:-10px; top:auto; right:auto; left:-10px; background-position:0 -10px;}
.modal .popup .t {background: url(bg_popup_hr.png) 0 0 repeat-x; position:absolute; top:-10px; left:0; width:100%; height:10px;}
.modal .popup .b {background: url(bg_popup_hr.png) 0 100% repeat-x; position:absolute; bottom:-10px; left:0; width:100%; height:10px;}
.modal .popup .l {background: url(bg_popup_vr.png) 0 0 repeat-y; position:absolute; left:-10px; top:0; width:10px; height:100%;}
.modal .popup .r {background: url(bg_popup_vr.png) 100% 0 repeat-y; position:absolute; right:-10px; top:0; width:10px; height:100%;}
.popup_content {position:relative; width:300px; margin:17px 25px;}
.popup_content h2 { margin-bottom:20px; color:#c0c0c0;font:bold 24px Arial, Helvetica, sans-serif;}
.popup_content del {position:absolute; top:9px; right:0; width:13px; height:13px; background: url(ico_del.png); cursor:pointer;}
.popup_content label { float:left;font-size:16px; line-height:22px;}
.popup_content label + div { clear:left;}
.req { float:right; color:#989898; font-size:12px; line-height:22px;}
.note {color:#7d7d7d; font-size:13px; line-height:22px; font-style:italic;}
.check {overflow:hidden; margin:15px 0;}
.check label {font-size:14px; color:#000;}
.popup_content input[type="checkbox"] { position:relative; top:1px; *left:-4px; margin:0 2px 0 0;*margin:0 -1px 0 -4px;}
.popup_content input[type="text"], .popup_content input[type="password"] { clear:both; overflow:visible; width:300px;*width:298px; height:27px; margin:5px 0; color:#737373; font-size:14px; line-height:18px; border:1px solid #888888;}
.popup_content .error { position:relative; left:-2px; clear:both; width:302px; height:29px !important; padding:1px; border:1px solid #d37f84;}
.popup_content .error  input[type="text"], .error input[type="password"] { margin:0; *margin-top:-1px; background:url(ico_error.png) 100% 7px no-repeat;}
.popup_content select { clear:both; width:100%; margin:5px 0; font-size:14px; line-height:18px; border:1px solid #888888;}
.btns { margin:25px 0; text-align:center;}
.login { overflow:hidden; margin:25px 0;}
.login button { float:left;}
.login .links { float:right; text-align:right; font-size:12px; line-height:16px;}
button { overflow:visible; height:31px; padding:0 5px 0 0; font-size:16px; font-weight:bold; color:#fff;text-shadow: #1f0002 0px -1px 1px; background:url(bg_buttons.png) 100% -31px; cursor:pointer;}
button span { display:block; margin:0; height:31px; padding:0 15px 0 20px; line-height:31px; white-space:nowrap; background:url(bg_buttons.png) 0 0;}
button:hover { background-position:100% -93px;}
button:hover span { background-position:0 -62px;}
button:active { background-position:100% -155px;}
button:active span { background-position:0 -124px;}
.social_list { overflow:hidden; padding:0 0 16px; margin-bottom:15px; border-bottom:1px solid #c0c0c0;}
.social_list a { float:left; margin-left:21px;}
.social_list a:first-child {margin-left:0;}
.social_name {overflow:hidden; padding:0 0 16px;}
.social_name img { float:left; margin-right:12px;}
.social_name span { float:left; width:255px; margin-top:5px; font-size:20px; line-height:24px;}

.participation { overflow:hidden; padding:0 0 16px 40px; margin-bottom:15px; background:url(ico_info.png) 0 3px no-repeat; color:#3e7600; font-size:17px; line-height:22px; border-bottom:1px solid #c0c0c0;}

a.share { display:inline-block; *display:inline; padding:0 0 0 20px; margin:10px 0; background:url(ico_share.png) 0 4px no-repeat; color:#850008; font-size:14px; zoom:1;}

div.comments { padding: 10px 0 30px;}
div.comments h3 {font:normal 20px/26px Arial, Helvetica, sans-serif; color:#31322c;}
div.comments h3 span { position:relative; bottom:6px; font:bold 14px/26px Arial, Helvetica, sans-serif; color:#850008;}
.comment { position:relative; min-height:75px; padding:15px 0 15px 85px;}
.upic { position:absolute; top:15px; left:20px;}
.upic img { border:1px solid #cfcfcf;}
.comment_text { font-size:14px; line-height:18px; padding-bottom:5px;}
.comment .date {display:inline-block; *display:ilnine;margin-right:20px; font-size:12px; color:#898989; zoom:1;}
.comment a.answer {font-size:12px; color:#850008;}
.thread {padding:20px 0 0; margin-left:-15px; border-left:2px solid #cfcfcf;}
.comment .comment { padding-left:80px;}
.comment .comment .upic {left:15px;}
.login_comments { padding:10px 0 10px 30px; color:#000; font-size:16px; line-height:18px;background:url(ico_comment_login.png) 10px 14px no-repeat;}
.login_comments a {color:#850008;}
