* { margin:0; padding:0; border:none; background:none;}
ul { list-style:none;}
a { text-decoration:underline; color:#850008;}
a:hover { text-decoration:none;}
body {position:relative;color:#31322c;font:15px/20px Arial, Helvetica, sans-serif;background:#fff;}
h1 { margin:0 0 20px; color:#000;font:normal 24px Arial, Helvetica, sans-serif;}
h2 {color:#000;font:normal 22px Arial, Helvetica, sans-serif;}
h3 {color:#850008;font:bold 16px/20px Arial, Helvetica, sans-serif;}
h4 {margin-bottom:10px; color:#31322c;font:bold 14px/16px Arial, Helvetica, sans-serif;}
h5 {margin-bottom:5px; color:#850008;font:bold 14px/16px Arial, Helvetica, sans-serif;}
p {margin:10px 0;}
:focus {outline:none;}
input::-moz-focus-inner, button::-moz-focus-inner {border:0;padding:0;}
textarea {background:#fff; border:1px solid #989898;}
select {background:#fff;}
table {border-collapse:collapse;}

body, html {min-height:100%; height:auto !important;}

.cl_left {clear:left;height:0;font-size:0;line-height:0;}
.cl_right {clear:right;height:0;font-size:0;line-height:0;}
.cl_all {clear:both;height:0;font-size:0;line-height:0;}
.fll {float:left;}
ol li {list-style-type:decimal; list-style-position:inside;  font-weight:bold; margin-bottom:10px;}
ol li span {font-weight:normal;}

.required {position:absolute; top:7px; right:0; color:#737373; font-size:13px;}

.wrapper {position:relative;min-width:950px;}
.wrapper > .block {margin-top:25px;}
.header {min-width:950px;height:163px;background:url(bg_header.gif) 0 0 repeat-x; border-bottom:1px solid #c1c1c1;}
.block {position:relative; overflow:hidden; width:950px; margin:0 auto;}
.logo_row {height:105px; border-bottom:1px solid #d3d3d3;}
a.logo { float:left; margin-top:24px;}
.sublinks { float:right; margin-top:34px; font-size:12px; line-height:22px; color:#737373;}
.sublinks span {display:inline-block; *display:inline; padding-left:13px; margin-left:10px; color:#737373; zoom:1;}
.sublinks a {color:#737373;}
.sublinks .user {display:inline-block; *display:inline; padding-left:18px;background: url(ico_user.png) 0 4px no-repeat; zoom:1;}
.menu_row {height:56px; border-top:1px solid #fff;}
.menu_row ul { float:left; margin-top:20px;}
.menu_row ul li {display:inline-block; *display:inline; margin-right:30px; font-size:15px; color:#000; zoom:1;}
.menu_row ul li a {color:#850008;}

.notification {border-bottom:1px solid #a1cf7a; background:#e3ffcb; font-size:12px; line-height:14px;}
.notification .block div {min-height:14px; padding:8px 0 7px 21px; background:url(ico_info_success.png) 0 8px no-repeat; color:#387900;}
.notification-error {border-bottom:1px solid #ffc1c1; background:#ffd8d8; font-size:12px; line-height:14px;}
.notification-error .block div {min-height:14px; padding:8px 0 7px 21px; background:url(ico_info_error.png) 0 8px no-repeat; color:#c46969;}

.left { float:left; clear:both; width:650px; padding-bottom:10px;}
.left a { color:#850008;}
.left .item {padding:20px 0 30px; border-top:1px solid #e0e0e0;}
.item a { color:#000;}
.left .item:first-child {padding:10px 0 30px; border-top:none;}
.iteminfo { margin:8px 0; font-size:12px;line-height:20px; color:#737373;}
.iteminfo * {display:inline-block; *display:ilnine; padding-left:20px; margin-right:20px; background-position:0 4px; background-repeat:no-repeat; zoom:1;}
.iteminfo .date {background-image:url(ico_calendar.png);}
.iteminfo .author {background-image:url(ico_user.png);}
.iteminfo span.comments {background-image:url(ico_message.png);}

.pagination { padding:0 0 40px 0; font-weight:bold; font-size:1px;}
.pagination a, .pagination > span { display:inline-block; *display:ilnine; height:21px; padding-right:3px; margin-right:3px; vertical-align:top; font-size:14px; line-height:21px; color:#850008; zoom:1;}
.pagination a span { display:block;height:21px; padding:0 4px 0 7px; cursor:pointer;}
.pagination a:hover, .pagination a.act { background:url(bg_page.png) 100% -21px no-repeat; text-decoration:none;}
.pagination a:hover span, .pagination a.act span { background:url(bg_page.png) 0 0 no-repeat; color:#000;}
.pagination .prev { width:13px;height:21px; background:url(arrow_prev.gif) 0 4px no-repeat !important;}
.pagination .next { width:13px;height:21px; background:url(arrow_next.gif) 0 4px no-repeat !important;}

.partners { padding:15px 0 45px; border-top:1px solid #d3d3d3;}
.partners .links {overflow:hidden; text-align:center;}
.partners .links a { float:left; height:49px; margin-right:48px;}
.partners .links a + a + a { float:right; height:30px; margin:8px 0 0;}

.right { float:right;width:250px;}
.participate { position:relative; padding:20px 22px 22px; margin-bottom:20px; border:2px solid #850008; font-size:12px; line-height:16px;}
.participate ins {background: url(crn.png) 0 0 no-repeat; position:absolute; top:-2px; bottom:auto; left:-2px; width:5px; height:5px;}
.participate ins + ins {top:-2px; bottom:auto; left:auto; right:-2px; background-position:-5px 0;}
.participate ins + ins + ins {bottom:-2px; top:auto; left:auto; right:-2px; background-position:-5px -5px;}
.participate ins + ins + ins + ins {bottom:-2px; top:auto; right:auto; left:-2px; background-position:0 -5px;}

.profile { overflow:hidden;}
.profile .photo {float:left; margin-right:47px; max-width:98px; border:1px solid #cfcfcf;}
.profile .info {float:left; overflow:hidden; width:500px;}
.profile img {width:98px; height:98px;}
.info th { width:150px; padding:0 20px 20px 0; text-align:left; color:#959595; vertical-align:top;}
.info td {vertical-align:top;}
.info p {color:#959595; font-style:italic;}
.set {margin-top:30px; display:inline-block;}

.right .social {margin-bottom:20px;}

.footer { min-height:80px; border-top:1px solid #d3d3d3; background:#e4e4e4 url(bg_footer.gif) 0 0 repeat-x;}
.footer .block {padding-top:32px; font-size:12px; color:#000;}
.footer .copy { margin-right:27px;}

.loginTBL {width:100%; margin-bottom:20px;}
.loginTBL th { padding:0 0 20px; font-size:16px; font-weight:normal; text-align:left; color:#31322c; border-bottom:1px solid #c0c0c0;}
.loginTBL th.title { padding:20px 0 10px; font-size:18px; font-weight:normal; color:#959595;}
.loginTBL tr:first-child th.title { padding:0 0 10px;}
.loginTBL th:first-child, .loginTBL > tbody > tr > td:first-child { width:200px;}
.loginTBL > tbody > tr > td { padding:16px 0 0; font-size:16px; font-weight:normal; text-align:left; color:#31322c;}
.loginTBL > tbody > tr > td > div {padding:1px;*padding:0 1px; background:#fff; border:1px solid #fff;}
.loginTBL td div input { display:inline-block; *display:inline;zoom:1; vertical-align:middle;}
.loginTBL td div.profile_image {position:relative; min-height:120px; padding-left:120px;}
.loginTBL td div.profile_image img {position:absolute; left:0; top:0; border:1px solid #cfcfcf;}
.loginTBL td div.profile_image label + input[type="file"] {margin-bottom:15px;}
.loginTBL td div.profile_image a { margin:0; color:#881E24; font-size:15px; text-decoration:none;}
.loginTBL td div.profile_image a:hover {text-decoration:underline;}
.loginTBL td.save a { margin-left:20px; font-size:15px; text-decoration:underline;}
.loginTBL td.save a:hover {text-decoration:none;}


.forms {position:relative;}
.forms h2 { margin-bottom:20px; color:#c0c0c0;font:bold 24px Arial, Helvetica, sans-serif;}
.forms label {font-size:15px; line-height:22px;}
.forms label + input[type="file"] { display:block; height:22px; border:1px solid #cfcfcf;}
.req { float:right; color:#989898; font-size:12px; line-height:22px;}
.note {color:#7d7d7d; font-size:13px; line-height:22px; font-style:italic;}
.check {overflow:hidden; margin:15px 0;}
.check label {font-size:14px; color:#000;}
.forms input[type="checkbox"] {margin:0 4px 0 0;*margin:0 1px 0 -3px;}
.forms input[type="text"], .forms input[type="password"], .forms input[type="email"] { clear:both; overflow:visible; width:228px;*width:226px; height:27px; color:#737373; font-size:14px; line-height:27px; text-indent:5px; border:1px solid #888888; background:#fff;}
.forms .field.error {padding:1px;*padding:0 1px;border:1px solid #d37f84; background:#ffd8d8;}
.forms .field.error input, .forms .field.error select { display:inline-block; *display:inline;zoom:1; vertical-align:middle;}
.forms .field {padding:1px;*padding:0 1px; background:#fff; border:1px solid #fff;}
.forms .field input { display:inline-block; *display:inline;zoom:1; vertical-align:middle; position:relative; *left:-5px;}
.forms .field > a { margin-left:20px; font-size:13px; color:#881e24; text-decoration:none;}
.forms .field > a:hover {text-decoration:underline;}
.forms .field .msg {display:none;}
.forms .field.error .msg {display:inline-block; *display:inline; overflow:hidden; max-width:180px; max-height:28px; padding:0 0 0 21px; margin-left:10px; *margin-left:0px; font-size:12px; line-height:14px; background:url(ico_info_error.png) 0 center no-repeat; color:#c46969; vertical-align:middle;zoom:1;vertical-align:middle;}
.forms select { clear:both; width:228px;font-size:14px; line-height:18px; border:1px solid #888888;}
.btns { margin:25px 0;}
.login { overflow:hidden; margin:25px 0;}
.login button { float:left;}
.login .links { float:left; margin-left:30px; font-size:12px; line-height:16px;}
.login .links a { color:#850008;}
button, a.button { overflow:visible; height:31px; padding:0 1px 0 0; font-size:16px; font-weight:bold; color:#fff;text-shadow: #1f0002 0px -1px 1px;cursor:pointer;}
button span, a.button span { display:inline-block;overflow:visible;  margin:0; height:31px; padding:0 5px 0 0;background:url(bg_buttons.png) 100% -31px;}
button span span, a.button span span { display:inline-block; margin:0; height:31px; padding:0 10px 0 15px; line-height:31px; white-space:nowrap; background:url(bg_buttons.png) 0 0;}
button:hover span, a.button:hover span { background-position:100% -93px;}
button:hover span span, a.button:hover span span { background-position:0 -62px;}
button:active span, a.button:active span { background-position:100% -155px;}
button:active span span, a.button:active span span { background-position:0 -124px;}
.social_list { overflow:hidden;}
.social_list a { float:left; margin-left:8px;}
.social_list a:first-child {margin-left:0;}
.social_list img {height:32px; width:32px;}
.social_name {overflow:hidden; padding:0 0 16px;}
.social_name img { float:left; margin-right:12px;}
.social_name span { float:left; width:255px; margin-top:5px; font-size:20px; line-height:24px;}

.addthis_toolbox {margin-top:10px;}

.twtr-search-widget {margin-bottom:20px;}

.participation { overflow:hidden; padding:0 0 16px 40px; margin-bottom:15px; background:url(ico_info.png) 0 3px no-repeat; color:#3e7600; font-size:17px; line-height:22px; border-bottom:1px solid #c0c0c0;}

a.share { display:inline-block; *display:inline; padding:0 0 0 20px; margin:10px 0; background:url(ico_share.png) 0 4px no-repeat; color:#850008; font-size:14px; zoom:1;}

div.comments { padding: 10px 0 30px;}
div.comments h3 {font:normal 20px/26px Arial, Helvetica, sans-serif; color:#31322c;}
div.comments h3 span { position:relative; bottom:6px; font:bold 14px/26px Arial, Helvetica, sans-serif; color:#850008;}
.comment { position:relative; min-height:75px; padding:15px 0 15px 85px;}
.upic { position:absolute; top:15px; left:20px;}
.upic img { border:1px solid #cfcfcf; width:50px; height:50px }
.comment_text { font-size:14px; line-height:18px; padding-bottom:5px;}
.comment .date {display:inline-block; *display:ilnine;margin-right:20px; font-size:12px; color:#898989; zoom:1;}
.comment a.answer {margin-right:20px;font-size:12px; color:#850008;}
.comment a.delete {font-size:12px; color:#959595;}
.thread {padding:20px 0 0; margin-left:-15px; border-left:2px solid #cfcfcf;}
.comment .comment { padding-left:80px;}
.comment .comment .upic {left:15px;}
.login_comments { padding:10px 0 10px 40px; color:#000; font-size:16px; line-height:18px;background:url(ico_comment_login.png) 20px 14px no-repeat;}
.login_comments a {color:#850008;}

.to_comment { position:relative; min-height:100px; padding:20px 0 20px 65px; margin:10px 0 0 20px; border:1px solid #c7c7c7; border-width:1px 0; background:#efefef;}
.to_comment .upic { position:absolute; top:20px; left:7px;}
.to_comment textarea { overflow:auto; width:554px; max-width:554px; height:90px; max-height:90px; margin-bottom:20px; }
.comment .to_comment {margin-left:-15px;}
.comment .to_comment textarea {width:504px; max-width:504px;}
a.close { margin-left:20px; color:#881e24; font-size:14px; text-decoration:none;}
a.close:hover {text-decoration:underline;}

a.submit {display:inline-block; *display:inline; height:31px; padding:0 5px 0 0; background:url(bg_submit.png) 100% -31px no-repeat; color:#252525; font-weight:bold; line-height:31px; text-decoration:none; zoom:1;text-shadow: #fff 0px 1px 1px;}
a.submit span {display:inline-block; *display:inline; height:31px; padding:0 12px 0 17px; background:url(bg_submit.png) 0 0 no-repeat; zoom:1;}
a.submit:hover { background-position:100% -93px;}
a.submit:hover span { background-position:0 -62px;}
a.submit:active, a.submit:focus { background-position:100% -155px; line-height:32px;}
a.submit:active span { background-position:0 -124px;}

.provider { display:block; height:32px; width:32px;}
.provider_twitter { background-image:url(ico_twitter.png);}
.provider_github { background-image:url(ico_github.png);}
.provider_facebook { background-image:url(ico_facebook.png);}
.provider_vkontakte { background-image:url(ico_vk.png);}
.provider_linked_in { background-image:url(ico_linkedin.png);}
.provider_google_app { background-image:url(ico_google_plus.png);}

.ui-datepicker { width: 13em }

#comment_notice { margin-top: 5px; text-align: center; }

ul.task-list { list-style-type:circle; list-style-position:inside; margin-bottom:10px; }
ul.task-list li { margin-left: 10px; }
ul.task-list li a { text-decoration: none; }

.i-warn-message { font-style: italic; font-size:12px; display: block; }
.warn-message { font-weight: bold; display:block; }

.list-table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    background: #fff;
    margin: 15px auto;
    width: 650px;
    border-collapse: collapse;
    text-align: left;
}
.list-table th {
    font-size: 12px;
    font-weight: bold;
    color: #850008;
    padding: 10px 8px;
    border-bottom: 2px solid #c46969;
}
.list-table td { color: #c46969; padding: 9px 8px 0px 8px; }
.list-table td a { text-decoration: none; color: #c46969; }
.list-table tbody tr:hover td, .list-table tbody tr:hover td a { color: #850008;}

.button_font_small {font-size:12px; text-align: center;}

