<h1>Dashboard</h1>

<h3>You can:</h3>
<ul>
  <li><%= link_to(t('admin.users.edit'), admin_users_path) %></li>
  <li><%= link_to(t('admin.messages.send'), new_admin_message_path) %></li>
  <li><%= link_to(t('meetup.meetups_link'), admin_meetups_path) %></li>
</ul>
