<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style"
     <% if @share %>
       <%= "addthis:url='#{h(@share[:url]).gsub(/'/, '&#039;')}'" if @share[:url]%>
       <%= "addthis:title='#{h(@share[:title]).gsub(/'/, '&#039;')}'" if @share[:title]%>
       <%= "addthis:description='#{h(@share[:description]).gsub(/'/, '&#039;')}'" if @share[:description]%>
     <% end %>
>
    <a class="addthis_button_facebook"></a>
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_google"></a>
    <a class="addthis_button_linkedin"></a>
    <a class="addthis_button_vk"></a>
    <a class="addthis_button_compact"></a>
</div>

<%= javascript_tag "LazyLoad.loadOnce('http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e8c408719719351')" %>
<!-- AddThis Button END -->
