
<p>Инструкция:</p>
Нужно перейти по <a href="https://twitter.com/settings/widgets/new/search" target="_blank">этой ссылке</a> в раздел settings twitter.

<ul>
  <li> Залогиниться в свой twitter-аккаунт.</li>
  <li> Ввести в поле Search нужные хэштэги. </li>
  <li> В поле Height поставить значение <b>300</b>.</li>
  <li> Нажать кнопку <b> Create widget </b> и вставить полученный код на этой странице в поле widget. </li>
</ul>
