<p>Пример:</p>
<p>from:dsgn_pro OR from:1stwebdesigner OR 1stwebdesigner OR 1wd</p>
<p>Возможные операторы:</p>
<ul>
  <li><b>#item</b> - поиск по hastag</li>
  <li><b>from:USERID</b> - поиск по пользователю @USERID</li>
  <li><b>filter:links</b> - поиск по ссылкам</li>
  <li><b>:)</b> и <b>:(</b> и <b>?</b> - поиск positive / negative / question аттрибутов</li>
  <li><b>-item</b> (минус) - это не оператор. Это исключает “item” из поиска.</li>
</ul>
